body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
.dear {
    border-bottom: 5px dotted red;
    border-top: 5px dotted red;}
h1 {
    font-size: 40px;
    font-weight: bold;
    color: red;
    text-align: center;
    padding-bottom: 10px;}
p {
    font-size: 24px;
    color: darkslateblue;
    text-align: center;}
img {
    width: 700px;}
.image {
    display: flex;  
    justify-content: center;}
.btn {
    display: flex;  
    justify-content: center;
    margin-top: 30px;}
#click {
    border: 2px solid red;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    font-size: 20px;}
#click:hover {
    background-color: red;
    color: white;}
.output {
    font-size: 24px;
    color: red;
    text-align: center;
    padding-top: 20px;}
